<h1>Users</h1>

<% @users.each do |user| %>
  <div class="card shadow-sm mb-3">
    <div class="card-body">
      <h5 class="card-title">
        <% if user.admin? %>
          <span class="badge badge-success float-right">
            Admin
          </span>
        <% end %>

        <%= user.email %>
      </h5>
      <% if user.name.present? %>
        <h6 class="card-subtitle mb-2 text-accent">
          <%= user.name %>
        </h6>
      <% end %>
    </div>
    <% if current_user.admin? %>
      <div class="card-footer text-accent">
        <% if user.admin? %>
          <%= update_user_role_link 'Revoke Admin', user, :user %>
        <% else %>
          <%= update_user_role_link 'Make Admin', user, :admin %>
        <% end %>
      </div>
    <% end %>
  </div>
<% end %>
