<div class="project-resources">
  <% project.resources_by_type.each do |group| %>
    <% resources = group[:resources] %>

    <h4 class="m-0 p-3 bg-light">
      <%= resource_icon group[:id] %>
      <%= group[:name] %>
      <span class="text-muted ml-2">(<%= resources.count -%>)</span>
    </h4>

    <div class="list-group list-group-flush">
      <% if resources.present? %>
        <% resources.each do |r| %>
          <%= render partial: 'resources/list-item', locals: { resource: r } %>
        <% end %>
      <% else %>
        <div class="list-group-item text-center">
          <span class="none-text inline-block">
            No resources of this type yet
          </span>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
