#sidebar {
  max-width: $sidebar-width;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: $navbar-height 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);

  .sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - #{$navbar-height});
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
  }

  .sidebar-heading {
    @extend .px-3;
    @extend .mt-4;
    @extend .mb-2;
    @extend .text-muted;
    font-size: .85rem;
    text-transform: uppercase;

    .btn-sm {
      font-size: 0.75em;
      margin-top: -5px;
    }
  }

  .nav-link {
    @extend .pl-3;
    font-weight: 500;
    color: #333;

    &.active {
      color: $cyan;
    }
  }

  .fas,
  .fab {
    color: $gray-500;
    margin-right: 0.3em;
  }
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}
