// ----------------------------------------------------------------------------
// Bootstrap overrides:
// See:
// - https://getbootstrap.com/docs/4.2/getting-started/theming/
// - https://github.com/twbs/bootstrap/blob/v4.2.1/scss/_variables.scss

$navbar-dark-hover-color: $yellow;

// ----------------------------------------------------------------------------
// Other variables

$navbar-height: 62px;
$sidebar-width: 220px;
