// Bootstrap overrides:
// See:
// - https://getbootstrap.com/docs/4.2/getting-started/theming/
// - https://github.com/twbs/bootstrap/blob/v4.2.1/scss/_variables.scss

$body-bg: #f5f5f5;
$body-color: #333;

// Other app variables:
