<h1>
  Request a new
  <%= @resource_type[:name].singularize.downcase -%>
  for <%= @project.name -%> space
</h1>

<%= render 'form', resource_type: @resource_type, integrations: @integrations, resource: @resource %>
