<header class="site-header">
  <nav class="navbar navbar-dark fixed-top bg-gradient-primary flex-md-nowrap p-0">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/">
      <%= image_tag(asset_pack_path('media/images/appvia_logo_white.svg'), class: 'logo d-inline-block align-top', alt: 'Appvia Logo') %>
    </a>
    <ul class="navbar-nav px-3 ml-auto">
      <li class="nav-item text-nowrap text-light">
        <%= current_user.try(:email) %>
      </li>
    </ul>
  </nav>
</header>
